body{
  margin:0 auto;
  background: linear-gradient(#FF94FA, #FF9476 ) fixed;
}
.header{
  background-color: white;
  height:80px;
  width:100%;
  position :fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin:0;
}
.logo-left{
  margin-left: 30px;
  float:left;
}
.fa-bars{
  font-size: 50px;
}
.logo-center{
  text-align: center;
}
.logo{
  width:150px;
  height:145px;
}
.far{
  font-size: 50px;
}
.logo-right{
  margin-right: 30px;
  float: right;
}

.top-wrapper{
  padding-top: 20px;
  background-color:rgb(234,55,242,0.5);
  width:100%;
  height:100%;
  padding-bottom:40px;
}
.main{
  color:white;
  text-align: center;
}
.mock:hover{
  color:black;
}
.main a{
  text-decoration: none;
}
.main h1{
  color: white;
  font-size: 100px;
  font-family: inherit;
}
.main p{
  font-weight: 500;
  font-family: monospace;
  font-size: 15px;
}
.pixel{
  font-weight: 900;
  color:rgb(118,251,220);
  font-family: inherit;
  font-size: 20px;
}
.fasion{
  font-weight: 900;
  font-family: inherit;
  color:#F7CE48;
  font-size: 20px;
}
.btn-wrapper{
  margin-top: 50px;
  text-align: center;
  color:white;
}
.btn-wrapper a{
  color:white;
}
.btn:hover{
  opacity: 1;
}
.btn{
  text-decoration: none;
  font-family: inherit;
  opacity: 0.8;
  border-radius: 5px;
  padding:5px 10px;
  display:inline-block;
}
.join{
  background-color:#33FF99;
}
.Twitter{
  background-color:#4DA0EB;
}
.Facebook{
  background-color:#415998;
}
.insta{
  background-size: auto;
  background: linear-gradient(-180deg,#7B44B1,#7B44B1 );
}
.fab{
  margin-right: 7px;
}
.contents{
  text-align: center;
  height:600px;
}

.apple{
  border-radius: 10px;
  background: linear-gradient(#FFFFFF, #AB4BD2 ) fixed;

  height: 200px;
  width:320px;
}
.banana{
  border-radius: 10px;
  background: linear-gradient(#FFFFFF, #AB4BD2 ) fixed;
  height: 200px;
  width:320px;
}
.corn{
  border-radius: 10px;
  background: linear-gradient(#FFFFFF, #AB4BD2 ) fixed;
  height: 200px;
  width:320px;
}
.donut{
  border-radius: 10px;
  background: linear-gradient(#FFFFFF, #AB4BD2 ) fixed;
  height: 200px;
  width:320px;
}
.design p{
  padding:10px 0px;
  width:30%;
  display: inline-block;
  letter-spacing: 3px;
  font-family: Impact;
  border-radius: 7px;
  background: linear-gradient(#FFFFFF, #AB4BD2 ) fixed;
  color:black;
  text-align: center;
}
.design{
  opacity: 0.8;
  margin-top:30px;
  float:left;
}

.design:hover{
  border-radius: 15px;
  background: linear-gradient(#FFFFFF, #AB4BD2 ) fixed;
  opacity:1;
}
